﻿@model IEnumerable<EDMI.Models.Meter>
@{
    ViewBag.Title = "Electric";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Electric Meters</title>
    @Styles.Render("~/Content/css")
</head>
<body>


    @if (Model != null && Model.Count() > 0)
    {
        <div style="margin-top: 2%;">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SerialNumber)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
            <tr>
                <td style="font-weight: bold;">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNumber)
                </td>
            </tr>
                }
            </table>
        </div>
    }

    <div>
        @Html.ActionLink("Add", "Add", null, new { @class = "btn btn-primary", @style = "margin-top: 2%;" })
    </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>

