﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDMI-Meters - @ViewBag.Title</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="color: white; background-color:dodgerblue;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("EDMI", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color: white; font-size: 175%; font-weight: bold; font-family: Arial Black, Comic Sans MS" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Electric", "Index", "Electric", new { area = "" }, new { @style = "color: white; font-size: 125%; font-family: Arial, Comic Sans MS" })</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Water", "Index", "Water", new { area = "" }, new { @style = "color: white; font-size: 125%; font-family: Arial, Comic Sans MS" })</li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Gateway", "Index", "Gateway", new { area = "" }, new { @style = "color: white; font-size: 125%; font-family: Arial, Comic Sans MS" })</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.4.1.js"></script>

</body>
</html>
